<p id="notice"><%= notice %></p>

<p>
  <strong>法人番号</strong>
  <%= @service.company_number %>
</p>

<p>
  <strong>サービス名</strong>
  <%= @service.name %>
</p>

<p>
  <strong>画像リンク</strong>
  <%= @service.image %>
</p>

<p>
  <strong>評価</strong>
  <%= @service.value %>
</p>

<p>
  <strong>月価格</strong>
  <%= @service.price %>
</p>

<p>
  <strong>導入費用</strong>
  <%= @service.starting_cost %>
</p>

<p>
  <strong>投稿数</strong>
  <%= @service.number_of_posts %>
</p>

<%= link_to 'Edit', edit_service_path(@service) %> |
<%= link_to 'Back', services_path %>

<% ## %>
