
<%= form_for(:session, url: login_path) do |f| %>
      <div class="field">
        <%= f.label :email %>
        <%= f.email_field :email %>
      </div>
      <div class="field">
        <%= f.label :password %>
        <%= f.password_field :password %>
      </div>
      <div class="actions">
        <%= f.submit "Log in" %>
      </div>
    <% end %>
<<<<<<< HEAD
    <p>アカウントをお持ちでない方 <%= link_to "Sign up now!", new_account_path %></p>
=======
    <p>New account? <%= link_to "Sign up now!", new_account_path %></p>
>>>>>>> 449e27a567ef9fc1e21efc5b89df68ae2c3f83c4
