<p id="notice"><%= notice %></p>

<p>
  <strong>会社番号</strong>
  <%= @company.number %>
</p>

<p>
  <strong>会社名</strong>
  <%= @company.name %>
</p>

<p>
  <strong>Status:</strong>
  <%= @company.status %>
</p>

<p>
  <strong>管理者名</strong>
  <%= @company.manager_id %>
</p>

<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
