<p id="notice"><%= notice %></p>

<p>
  <strong>Account:</strong>
  <%= @review.account_id %>
</p>

<p>
  <strong>Service:</strong>
  <%= @review.service_id %>
</p>

<p>
  <strong>Valuation:</strong>
  <%= @review.valuation %>
</p>

<p>
  <strong>Review:</strong>
  <%= @review.review %>
</p>

<%= link_to 'Edit', edit_review_path(@review) %> |
<%= link_to 'Back', reviews_path %>
