<%= form_with(model: account, local: true) do |form| %>
  <% if account.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(account.errors.count, "error") %> prohibited this account from being saved:</h2>

      <ul>
      <% account.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :firstname %>
    <%= form.text_field :firstname, id: :account_firstname %>
  </div>

  <div class="field">
    <%= form.label :lastname %>
    <%= form.text_field :lastname, id: :account_lastname %>
  </div>

  <div class="field">
    <%= form.label :company_number %>
    <%= form.number_field :company_number, id: :account_company_number %>
  </div>
<!--
  <div class="field">
    <%= form.label :status %>
    <%= form.number_field :status, id: :account_status %>
  </div>
-->
  <div class="field">
    <%= form.label :password %>
    <%= form.number_field :password, id: :password %>
  </div>

  <div class="field">
    <%= form.label :password_confirmation %>
    <%= form.number_field :password_confirmation, id: :password_confirmation %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
